@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
  @apply lg:mx-auto lg:px-24 xl:px-48 px-5;
}
.bg-gradient {
  @apply bg-gradient-to-r from-sky-500 via-purple-500 to-pink-600;
}
.text-gradient {
  @apply bg-clip-text bg-gradient text-transparent;
}
.section {
  @apply pt-28 xl:pt-28 2xl:pt-44;
}
.text-content {
  @apply dark:text-light-content text-dark-content;
}
body {
  overflow-x: hidden;
  background-color: transparent;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
.ui-photo1 {
  display: flex;
}
.ui-photo1 img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  border-color: #d87093;
  border-width: 2px;
}
.logo_container {
  padding-top: 36px !important;
}

.logo {
  display: flex;
  /* border: 2px solid lightpink;
  border-radius: 18px; */
  padding: 6px 10px;
}

.logo_name{
  padding-top: 10px;
  padding-left: 6px;
  font-size: 24px;
  color: palevioletred;
}


.home_right{
  width:350px;
  height:400px;
  margin: 0  auto;
}

.home {
  padding-top: 36px;
  padding-left: auto;
}

.home_left {
  margin-right: 50px;
  margin-left: 16px;
  margin-top: 50px;
}

.home_img{
  height: 110%;
  border-radius: 56px;
  padding: auto;
  margin: 1.25rem  auto;
}

.right_container{
  display: block;
  margin: 0  auto;
}

.ui-photo2 {
  display: flex;
}
.ui-photo2 img{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
}

.head_title {
  padding-right:  16px;
  border-right: 2.5px solid palevioletred;  
}
.nav {
  margin-right: 18px !important;
}